#!/bin/sh
exec 2>&1
ulimit -n 102400
ulimit -u 20480
export PGBOUNCER_PASSWORD=Gah4Oo+h3Cae6ahd
exec "chpst" "-u" "root" "/usr/bin/prometheus-pgbouncer-exporter" "--pgbouncer-host"="127.0.0.1" "--pgbouncer-port"="6432" "--pgbouncer-user"="stats"
