[databases]
putong-{{ servername }} = host=127.0.0.1
[pgbouncer]
logfile = /var/log/pgbouncer/pgbouncer.log
pidfile = /var/run/pgbouncer/pgbouncer.pid
listen_addr = *
listen_port = 6432
auth_file=/etc/pgbouncer/userlist.txt
auth_type=hba
auth_hba_file=/etc/pgbouncer/pgb_hba.conf
admin_users = postgres
stats_users = stats, postgres
pool_mode = transaction
server_reset_query =
application_name_add_host = 1
max_client_conn = 20000
default_pool_size = 100
reserve_pool_size = 10
reserve_pool_timeout = 5
max_db_connections = 100
log_connections = 0
log_disconnections = 0
ignore_startup_parameters = extra_float_digits
